tbody {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.noEventsToShow {
  text-align: left;
  font-size: x-large;
}

.backbtn {
  float: left;
  width: 15%;
}


td {
  color: white !important;
  width: 50%;
}

td {
  padding: 8px;

}


tr {
  padding: 8px;

}


table textarea {
    box-sizing: border-box;
    background-color: #212529;
    color: white;
    width: 100%;
  }

  .fullDay {
    background-color: #8257e6;
    text-align: center;
  }

  .TasksLayout {
    //flex: ;
  }
td.newligne{
  border:  1px solid red;
}
