<div class="row my-4">
  <div class="col-md-4 text-end text-sm-start">
    <a routerLink="/schedules/new" class="btn btn-outline-purple">
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>

  <div class="col-md-4 mb-3 mb-sm-0 text-center">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle') }}</h3>
  </div>

  <div class="col-md-4">
    <div class="btn-toolbar justify-content-center justify-content-sm-end" role="toolbar"
         aria-label="Toolbar with button groups">

      <div class="btn-group">
        <!--[(viewDate)]="viewDate" (viewDateChange)="closeActiveDay()"-->
        <button type="button" class="btn btn-outline-purple" mwlCalendarPreviousView [view]="view"
                (click)="previousMonth()">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <!--  [(viewDate)]="viewDate"  -->
        <button type="button" class="btn btn-outline-purple" mwlCalendarToday (click)="currentMonth()">
          <i class="fa-solid fa-calendar-check"></i>
        </button>
        <!--  [(viewDate)]="viewDate"     (viewDateChange)="closeActiveDay()"-->
        <button type="button" class="btn btn-outline-purple" mwlCalendarNextView [view]="view"
                (click)="nextMonth()">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div [ngSwitch]="view">
  <!--    [refresh]="refreshCalendar"-->
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="onDayClick($event.day)"
    (eventClicked)="onEventClick($event.event)">
  </mwl-calendar-month-view>

</div>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-black">{{modalData.schedule.title}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <p>Data: <span>{{modalData.schedule.startDate | date:'yyyy-MM-dd'}}</span></p>
    <p>Horário: <span>{{modalData.schedule.startTime}} ~ {{modalData.schedule.endTime}}</span></p>
    <p *ngIf="modalData.schedule.description">Descrição: <span>{{modalData.schedule.description}}</span></p>
  </div>
</ng-template>
